@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminHome</title>
    
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js"></script>
</head>
<body>
    @if (ViewBag.isAdmin == true)
    {    
        @RenderPage("_defaultPage.cshtml")
        <div>
            <h1>Welcome to the Admin's Portal @ViewBag.adminName</h1>
            <div class="btn btn-default">
                @Html.ActionLink("Add New User", "AddNewUser")
            </div>
            <div class="btn btn-success">
                @Html.ActionLink("View Current Users", "ViewUsers")
            </div>
            
            
            
        </div>

    }
    else
    {
        @:Please enter your proper credentials to access this page.
    }

</body>
</html>
