@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminHome</title>
</head>
<body>
    <div>
        <h1>Welcome to the Admin's Portal @ViewBag.adminName</h1>
        @Html.ActionLink("Add New User", "AddNewUser")
        @Html.ActionLink("View Current Users","ViewUsers")
        @Html.ActionLink("Change User Information","UpdateUserInfo")
    </div>
</body>
</html>
