@using HealthDataBase.Domain.Entities
@model users
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Fahad Mirza
code from w3school.com    
-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          $("#search").autocomplete({
              source: function (request,response) {
                  //debugger;
                  $.ajax({
                      url: '@Url.Action("auto","Home")',
                      dataType: 'json',
                      method: 'POST',
                      data: { Prefix: request.term },
                      success: function (data) {
                          response($.map(data, function (item) {
                              return { label: item, value: item }
                          }))
                      }
                  });
              }
          })});
    </script>
</head>
<body>
    @RenderPage("_header.cshtml") 

    <!--main content-->
    <div class="jumbotron" style="margin-top:-25px;">
        <h1 class="text-center">Welcome to the HealthData Base</h1>
    </div>
    <div class="container">
        <div class="col-md-8">
            @using (Html.BeginForm("Search", "Home"))
            {
                <div class="form-group">
                    <label>Enter Syptoms</label> @Html.TextBox("_txtSearch", "", new { id = "search", @class = "form-control" })
                </div>
                <div>
                    <input class="btn btn-success" type="submit" name="_btnSubmit" value="Submit" />
                </div>
            }
        </div>
    </div>
</body>
</html>
