@using HealthDataBase.Domain.Entities
@model users

@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Fahad Mirza
code from w3school.com
-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js"></script>


</head>
<body>
    @RenderPage("_header.cshtml")
    

    <!--main content-->
    <div class="container">
        <div class="col-md-8">
            @using (Html.BeginForm("search", "Home"))
            {
                <div class="form-group">
                    <label>Enter Syptoms</label>@Html.TextBox("_txtSearch", "", new { @class = "form-control" })
                </div>
                <div>
                    <input class="btn btn-success" type="submit" name="_btnSubmit" value="Submit" />
                </div>
            }
        </div>
        <h1></h1>
    </div>
</body>
</html>