@model HealthDataBase.Domain.Entities.illness

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        <h1>base on your syptoms you have @Model.Name and its treatment is @Model.treatment</h1>
    </div>
</body>
</html>
