@using HealthDataBase.Domain.Entities
@model IEnumerable<illness>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    @RenderPage("_header.cshtml")
    <h1>Hello Result</h1>
    <div> 
        @foreach(illness i in Model)
        {
            @:<h1>Your illness is @i.Name and you Treatment is @i.treatment</h1>
        }
    </div>
</body>
</html>
